@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <br />
    <h3>Form Submission Ways</h3>
    <p>Learn about <a href="https://docs.google.com/document/d/1cmzLabhiqq7T0gBcODI6wYv_rvvWGg34YTCFU4CGTZs/edit?tab=t.0">Submiting form in various ways with ASP.NET Core</a>.</p>
</div>

<div>
    <ul class="list-group">
        <li class="list-group-item list-group-item-info">Form Submit</li>
        <li class="list-group-item list-group-item-success">@@Html.BeginForm</li>
        <li class="list-group-item list-group-item-danger">jQueryAjax FormData</li>
        <li class="list-group-item list-group-item-warning">Html FormAction FormMethod</li>
        <li class="list-group-item list-group-item-warning">CreateWithJqueryAjaxSerializeFormJson</li>
    </ul>
</div>
