@model FormSubmission.Models.Entities.Student 
@using FormSubmission.Models.Entities 

@* @{ *@
@*     ViewData["Title"] = "Create Student"; *@
@* } *@

@* <h1>Create Student</h1> *@

@* <div class="row"> *@
@*     <div class="col-md-6"> *@
@*         @using (Ajax.BeginForm("Create", "Student", *@
@*         new AjaxOptions *@
@*         { *@
@*             HttpMethod = "POST",  *@
@*             InsertionMode = ,  *@
@*             UpdateTargetId = "responseMessage", // ID of the element to update *@
@*             OnSuccess = "onSuccess", // JavaScript function to handle success *@
@*             OnFailure = "onFailure" // JavaScript function to handle failure *@
@*         }, *@
@*         new { @id = "createStudentForm", @class = "form-horizontal" })) *@
@*         { *@
@*             @Html.AntiForgeryToken() <!-- Anti-forgery token for CSRF protection --> *@

@*             <div class="form-group"> *@
@*                 <label asp-for="Name" class="control-label"></label> *@
@*                 <input asp-for="Name" class="form-control" id="Name" /> *@
@*                 <span asp-validation-for="Name" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="Email" class="control-label"></label> *@
@*                 <input asp-for="Email" class="form-control" id="Email" /> *@
@*                 <span asp-validation-for="Email" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="Phone" class="control-label"></label> *@
@*                 <input asp-for="Phone" class="form-control" id="Phone" /> *@
@*                 <span asp-validation-for="Phone" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="Major" class="control-label"></label> *@
@*                 <select asp-for="Major" class="form-control" id="Major"> *@
@*                     @foreach (var major in Enum.GetValues(typeof(FormSubmission.Models.Entities.Major))) *@
@*                     { *@
@*                         <option value="@major">@major</option> *@
@*                     } *@
@*                 </select> *@
@*                 <span asp-validation-for="Major" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="Cgpa" class="control-label"></label> *@
@*                 <input asp-for="Cgpa" class="form-control" id="Cgpa" /> *@
@*                 <span asp-validation-for="Cgpa" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <button type="submit" class="btn btn-primary">Create</button> *@
@*             </div> *@
@*         } *@
@*         <div id="responseMessage"></div>  *@
@*     </div> *@

@* </div> *@

@* @section Scripts { *@
@*     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> *@
@*     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script> *@
@*     <script> *@
@*         function onSuccess(response) { *@
@*             console.log("Success:", response); *@
@*             $('#responseMessage').html('<div class="alert alert-success">Student created successfully!</div>'); *@

@*             window.location.href = '/Student/Index'; *@
@*         } *@

@*         function onFailure(xhr) { *@
@*             console.error("Error:", xhr.responseJSON?.message || xhr.responseText); *@
            $('#responseMessage').html('<div class="alert alert-danger">' + (xhr.responseJSON?.message || "An error occurred.") + '</div>');
        }
    </script> 
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>  
 }

