@model FormSubmission.Models.Entities.Student
@using FormSubmission.Models.Entities


<h1>Create Student CreateWithJqueryAjaxSerializeFormJson</h1>

<div class="row">
    <div class="col-md-6">
        <form id="createStudentForm">

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" id="Name" required/>
                @* <input asp-for="Id" class="form-control" id="Id" value="1"/> *@
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" id="Email" required/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" id="Phone" required/>
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Major" class="control-label"></label>
                <select asp-for="Major" class="form-control" id="Major" asp-items="Html.GetEnumSelectList<Major>()" required>
                    <option value="" selected disabled>Select Major</option>
                </select>
                <span asp-validation-for="Major" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Cgpa" class="control-label"></label>
                <input asp-for="Cgpa" class="form-control" id="Cgpa" required />
                <span asp-validation-for="Cgpa" class="text-danger"></span>
            </div>


            <div class="form-group">
                <button type="submit" class="btn btn-outline-warning" id="submitButton">Create</button>
            </div>

        </form>
    </div>
</div>

<div id="responseMessage"></div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
       
        $(document).ready(function () {
            $('#createStudentForm').on('submit', function (e) {
                e.preventDefault();


                var formData = $(this).serialize();




                console.log(JSON.stringify(formData));
                console.log(formData);


                $.ajax({
                    url: '@Url.Action("Create", "Student")',
                    type: 'post',
                    processData: false, 
                    data: formData, 
                  //  data: formData, 
                    success: function (response) {

                        window.location.href = '/Student/Index';
                    },
                    error: function (xhr) {
                        console.error("Error:", xhr.responseJSON?.message || xhr.responseText);
                        $('#responseMessage').html('<div class="alert alert-danger">' + (xhr.responseJSON?.message || "An error occurred.") + '</div>');
                    }
                });
            });
        });
    </script>
}
